.sidebar-nav .nav-link {
  color: #8392a5; }
.df-title, .df-lead {
  color: #8392a5; }
.df-breadcrumbs .breadcrumb-item a {
  color: #8392a5; }  
.search-form .form-control {
  color:#cdd4e0 }
.form-group .form-control {
  color:#cdd4e0 }
.nav-sub-divider {
	border-color: rgba(255, 255, 255, 0.1); }
.dropdown .dropdown-menu {
  background-color: #24324d; }
  .dropdown-item {
    color: #97a3b9; }

/*
div:where(.swal2-container).swal2-backdrop-show {
  background: #10151e !important;
  opacity: 70%;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  background: #1c273c !important;
  color: #545454;
}
*/

.chat-btn-add:hover {
  color: #fff;
}

.chat-sidebar-header .dropdown-link > span {
  color: #8392a5 !important; 
}