.sidebar-nav .nav-link {
  color: #8392a5; }
.df-title, .df-lead {
  color: #8392a5; }
.df-breadcrumbs .breadcrumb-item a {
  color: #8392a5; }  
.search-form .form-control{
  color:#cdd4e0}
.form-group .form-control{
  color:#cdd4e0}
.nav-sub-divider {
	border-color: rgba(255, 255, 255, 0.1); }